<html>
<head>
	<title>ngFlo</title>
</head>
<body ng-app="App" ng-controller="Ctrl">

	<flo-network name="salute"
	             import="{ 'Join.first':myName }"
	             export="{ 'greeting': 'Shout.out' }">
		'!!!' -> SECOND Join(strings/Join) OUT -> IN Shout(strings/UpperCase)
	</flo-network>

	<div>what's your name? <input type="text" ng-model="myName"></div>
	<div>hey {{greeting}}</div>

	<input type="text" ng-model="in">
	<div>{{in}}</div>
	<div>{{out}}</div>
	<div>{{otherOut}}</div>

	<flo-network
		name="myNetwork"
		import="{ 'something.in':in }"
		export="{ 'otherOut':'upper.out' }">
		something(othercomp) OUT -> IN upper(mycomp) OUT -> IN disp(logger)
		'done' -> IN disp2(logger)
		something() OUT -> IN disp3(logger)
	</flo-network>

	<script src="bower_components/angular/angular.js"></script>
	<script src="src/angular-flo.js"></script>
	<script src=".tmp/fbpParser.js"></script>
	<script type="text/javascript">
	angular.module('App', ['ngFlo', 'moar'])

	.config(function($componentProvider) {
		$componentProvider.register('mycomp', [{name:'in', validate:'string'}], [{ name:'out', validate:'string'}], function(i) {
			if (!angular.isDefined(i)) return;
			return {
				out: i.toUpperCase()
			};
		});

		$componentProvider.register('strings/Join',
			[{ name:'first', validate:'string' }, { name:'second', validate:'string' }],
			[{ name:'out', validate:'string' }],
			function(first, second) {
				return (first || '') + (second || '');
			});

		$componentProvider.register('strings/UpperCase',
			[{ name:'in', validate:'string' }],
			[{ name:'out', validate:'string' }],
			function(string) {
				return (string || '').toUpperCase();
			});
	})

	.controller('Ctrl', function($scope, $component, $network) {
		$component('mycomp')($scope, { noInhibition:true });
		// var c = $component('mycomp')($scope);
		// console.log(c('asdf'));
		$network('nope')
			.process('nothing', 'othercomp')
			.process('upme', 'mycomp')
			.connection('["nothing"].out', 'upme.in')
			.process('logthis', 'logger')
			.connection('upme.out', 'logthis.in')
			.data('lol', 'nothing.in');
			// .export($scope, { 'x':'nothing.out' })
			// .import($scope, { 'nothing.in':'y' })
	});

	angular.module('moar', ['ngFlo']).config(function($componentProvider) {
		$componentProvider
		.register('othercomp', ['in'], ['out'], function(i) {
			return i || "nothing";
		})
		.register('logger', ['in'], [], function(i) {
			console.log(i);
		});
	});
	</script>

</body>
</html>